$default-width: 100%;
$default-height: 210px;
$default-padding: 1em;
$default-margin-top: 1em;
$default-margin-right: 1em;
$default-margin: 0 auto;

$content-bg-radius: 10px;
$content-bg-border: 1px solid black;
$content-bg-margin-bottom: 6px;
$quote-border-radius: 40px 2px 40px 40px;
$ABS: absolute;
