$default-width: 100%;
$default-height: 430px;
$default-padding: 1em;
$default-margin-top: 1em;
$default-margin-right: 1em;
$default-margin: 0 auto;

$header-footer-height: 210px;
$content-bg-radius: 10px;
$content-bg-border: 1px solid black;
$content-bg-margin-bottom: 6px;
